# C++
build/
*.pyd
*.so
*.dylib
*.dll
*.o
*.obj
*.exe

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.venv/

# IDE
.vscode/
.idea/
*.swp
.vs/

# Graphic Design
design/

!lib/.gitkeep

# Build
run/
run.spec
*.zip

# Sample
sample/